@import "mixinsAndGlobals.less";
@import "cssreset-min.less";
@import "normalize.less";
//@import "swiper.min.less";
@import "animate.less";
@import "default.less";

//generates fonts using http://transfonter.org/

#videoBG {
  position : absolute;
  }

.forPrint {
  display : none;
  }

a:hover {
  text-decoration : underline;
  }

.tourDetailsWrapper--videoBG {
  position            : absolute;
  top                 : -150px;
  left                : 0;
  width               : 100%;
  height              : 100%;
  display             : none;
  overflow            : hidden;
  z-index             : -1;
  opacity             : 0;

  background-image    : url('../img/cloud_bg.jpg');
  background-size     : 100%;
  background-repeat   : no-repeat;
  background-position : bottom right;

  -webkit-transition  : opacity 1000ms ease;
  -moz-transition     : opacity 1000ms ease;
  -ms-transition      : opacity 1000ms ease;
  -o-transition       : opacity 1000ms ease;
  transition          : opacity 1000ms ease;
  }

.tourDetailsWrapper--videoBG.playThis {
  display : block;
  }

.tourDetailsWrapper--videoBG.show {
  opacity : 1;
  }

.page {
  &.page--form {
    padding : 0 40px;
    }
  &.page--home {
    position            : absolute;
    overflow            : hidden;
    width               : 100%;
    height              : 100%;
    background-image    : url(../img/aliq.png);
    background-size     : 100%;
    background-repeat   : no-repeat;
    background-position : bottom right;

    }

  &__img--car {
    position : absolute;
    display  : inline-block;
    bottom   : 0;
    height   : auto;
    width    : 790px;
    left     : 0;
    margin   : 40px 0 0 30px;
    }
  &__title {
    position                : relative;
    display                 : block;
    font-family             : 'Poppins', sans-serif;
    font-weight             : 900;
    font-size               : 65px;
    text-align              : right;
    letter-spacing          : 1px;
    color                   : #3a3879;
    top                     : 0;
    right                   : 4%;
    width                   : 100%;
    margin                  : 0;
    padding-top             : 80px;
    -webkit-animation-delay : 1s;
    animation-delay         : 1s;
    }
  &__link {
    position        : relative;
    width           : auto;
    display         : block;
    font-size       : 30px;
    color           : #3e4095;
    text-shadow     : 0 0 1px #fff;
    text-transform  : uppercase;
    letter-spacing  : 3px;
    text-align      : right;
    right           : 4%;
    margin          : 5% 0 3%;
    text-decoration : none;
    font-weight     : 600;
    &__item {
      width                   : auto;
      display                 : block;
      margin                  : 2% auto;
      -webkit-animation-delay : 2s;
      animation-delay         : 2s;
      a {
        display : inline-block;
        padding : 10px;
        .transition(~"all 400ms ease");
        }
      &:hover a {
        .transform(translateX(20px) rotate(-2deg));
        background-color : #3e4095;
        color            : #fff;
        }
      }

    }

  &__list {
    width    : 100%;
    height   : auto;
    position : fixed;
    right    : 4%;
    bottom   : 2%;
    display  : block;

    &__item {
      width       : auto;
      text-align  : right;
      font-size   : 32px;
      line-height : 55px;
      color       : #fff;
      display     : block;
      &__icon {
        position : relative;
        height   : auto;
        width    : 40px;
        top      : 10px;
        right    : 20px;
        &--cell {
          top : 35px;
          }
        }
      &__tel,
      &__email {
        text-decoration : none;
        color           : #fff;
        }
      }
    }
  }

.wrapInput {
  position : relative;
  }

.error {
  }

.body {
  display     : block;
  margin      : auto;
  font-family : 'Arial', serif;
  }

.header {
  max-width : 1300px;
  display   : block;
  &__logo {
    width   : 75%;
    display : block;
    margin  : 0 auto;
    &__pic {
      width  : 100%;
      height : auto;
      }
    }
  &__form {
    /* width: 22%; */
    display    : block;
    top        : 15px;
    font-size  : 20px;
    text-align : right;
    &__label {
      font-style : italic;
      }
    &__input {
      border        : none;
      border-bottom : dashed 1px #000;
      width         : 42%;
      outline       : none;
      margin-bottom : 30px;
      }
    }
  }

.article {
  max-width : 1300px;
  height    : auto;
  position  : relative;
  display   : block;
  margin    : 0 auto 10px;
  &__txt {
    display        : inline-block;
    vertical-align : top;
    font-size      : 23px;
    width          : 47%;
    height         : auto;
    margin-right   : 2%;
    padding-left   : 2%;
    }

  &__contact {
    width    : 49%;
    display  : inline-block;
    position : relative;
    &__list__item {
      list-style : none;
      position   : relative;
      margin-top : 2px;
      &__title {
        text-align       : center;
        background-color : #d9d9d9;
        display          : block;
        font-size        : 23px;
        line-height      : 33px;
        }
      &__name {
        font-weight : bold;
        font-size   : 23px;
        }
      &__address {
        display         : inline;
        text-decoration : none;
        color           : #000;
        font-size       : 23px;
        line-height     : 32px;
        }
      &__icon {
        width          : 60px;
        position       : relative;
        display        : inline-block;
        vertical-align : top;
        }
      &__cell {
        position    : relative;
        text-align  : left;
        font-size   : 23px;
        display     : inline-block;
        margin-left : 12px;
        }
      }
    }
  }

.activeCheck {
  border : 2px solid #3366cc;
  }

.g-recaptcha {
  margin  : 0 auto;
  display : block;
  width   : 300px;
  }

.form {
  position       : relative;
  display        : block;
  max-width      : 1250px;
  margin         : 0 auto 50px;
  padding-bottom : 20px;
  box-shadow     : 0 0 30px -10px rgb(0, 0, 0);
  &__title {
    position         : relative;
    display          : block;
    width            : 100%;
    background-color : #0170c1;
    color            : #fff;
    text-align       : center;
    text-transform   : capitalize;
    margin           : 15px 0;
    font-size        : 23px;
    height           : 33px;
    box-sizing       : content-box;
    padding          : 0 40px 0 10px;
    left             : -30px;
    &:after {
      content      : '';
      position     : absolute;
      top          : 33px;
      left         : 0;
      display      : block;
      width        : 0;
      height       : 0;
      border-style : solid;
      border-width : 0 30px 20px 0;
      border-color : transparent #005cb8 transparent transparent;
      }
    }
  &--txt {
    font-size : 20px;
    }

  &__txt--top {
    width      : 97%;
    display    : block;
    margin     : 18px auto;
    text-align : left;
    font-size  : 20px;
    }
  &__line {
    display     : block;
    width       : 100%;
    margin      : 0 auto;
    line-height : 29px;
    padding     : 0 1%;

    &:nth-of-type(odd) {
      background-color : #d9d9d9;
      }
    &__title--min {
      position         : relative;
      background-color : #a7a7a7;
      font-weight      : bold;
      width            : 29.5%;
      left             : -30px;
      height           : 30px;
      line-height      : 30px;
      margin           : 0;
      text-align       : center;
      &:after {
        content      : '';
        position     : absolute;
        top          : 30px;
        left         : 0;
        display      : block;
        width        : 0;
        height       : 0;
        border-style : solid;
        border-width : 0 30px 20px 0;
        border-color : transparent #8f8f8f transparent transparent;
        }
      }
    &__dash {
      border           : none;
      border-bottom    : dashed 1px #000;
      background-color : inherit;
      height           : 25px;
      position         : relative;
      right            : 0;
      padding          : 0;
      outline          : none;
      &--lg {
        width : 49%;
        }
      &--md {
        width : 19%;
        }
      &--sm {
        width : 9%;
        }
      &--xs {
        width : 5%;
        }
      }
    &__input {
      position       : relative;
      text-align     : center;
      vertical-align : middle;
      width          : 43px;
      height         : 28px;
      border         : 2px solid #000;
      padding        : 5px;
      left           : 0;
      margin         : 0;
      .transition(all 300ms ease);
      &.error {
        border-color : red;
        left         : -10px;
        &:focus {
          .transform(scale(1.1));
          }
        }

      &--min {
        width  : 15px;
        height : 15px;
        }
      }
    &__label {
      display       : inline-block;
      width         : 12%;
      font-size     : 13px;
      white-space   : nowrap;
      overflow      : hidden;
      text-overflow : ellipsis;
      &--1 {
        width       : 29%;
        height      : auto;
        line-height : 1;
        }
      &--first {
        text-align   : right;
        margin-right : 5px;
        }
      &--5 {
        width : 10%;
        }
      &--min {
        width     : 5%;
        font-size : 12px;
        }
      }
    }
  &__textarea {
    border              : 0;
    display             : block;
    margin              : 0 2%;
    padding             : 20px;
    width               : 96%;
    outline             : none;
    line-height         : 35.3px;
    height              : 350px;
    background-image    : url("../img/textarea.jpg");
    background-position : 0 -13px;
    }
  &__submit {
    color            : #fff;
    text-transform   : uppercase;
    margin           : 20px auto;
    width            : 300px;
    height           : 50px;
    display          : block;
    border           : 0;
    background-color : #aaa;
    .transition(background-color 300ms ease);
    &__icon {
      display                 : inline-block;
      vertical-align          : middle;
      width                   : 30px;
      height                  : 30px;
      margin-left             : 10px;
      background-image        : url('../img/send.svg');
      -webkit-background-size : contain;
      background-size         : contain;
      }
    &:hover {
      background-color : #ccc;
      }
    }
  }

.footer {
  margin : 0 auto 30px;
  &__sign {
    display : none;
    margin  : 0 0 30px 43%;
    &__place {
      display          : inline-block;
      background-color : inherit;
      border           : 0;
      border-bottom    : dashed 1px rgb(0, 0, 0);
      }
    }

  &__txt {
    display    : block;
    text-align : center;
    width      : 100%;
    font-size  : 16px;
    }
  }

//page responsiveness

@media (max-width : 1260px) {
  .page__title {
    font-size : 60px;
    }

  .page__list__item {
    font-size   : 28px;
    line-height : 45px;
    }

  .form {
    &__row {
      &__label {
        width : 12%;

        &--1 {
          width : 28%;
          }
        &--5 {
          width : 10%;
          }
        &--min {
          width     : 5%;
          font-size : 12px;
          }
        }

      }
    }

  .footer__txt {
    width : 54%;
    }
  }

@media (max-width : 1100px) {
  .page__title {
    font-size : 50px;
    }

  .page__list__item {
    font-size   : 25px;
    line-height : 45px;
    }

  .form {
    &__row {

      &__label {
        width : 11%;

        &--1 {
          width : 28%;
          }
        &--5 {
          width : 10%;
          }
        &--min {
          width     : 6%;
          font-size : 12px;
          }
        }

      }
    }

  }

@media (max-width : 900px) {
  .page__title {
    font-size  : 40px;
    left       : 2%;
    text-align : left;
    }

  .page__list__item {
    font-size   : 20px;
    line-height : 35px;
    }

  .page__img--car {
    width  : 40%;
    height : auto;
    bottom : 0;
    left   : 2%;
    margin : 0;
    }

  .page__list__item__icon {
    width : 30px;
    }

  .form {
    &__row {
      width          : 31%;
      height         : 200px;
      display        : inline-block;
      vertical-align : top;
      text-align     : center;
      margin-left    : 1.5%;

      &__label {
        width : 67%;

        &--1 {
          display    : block;
          width      : 100%;
          margin     : 7px auto;
          text-align : center;
          }
        &--min {
          width : 55%;
          }
        &--first {
          display    : inline-block;
          text-align : left;
          }
        }
      &__dash {
        width : 85%;
        }
      &__check {
        &--min {
          width  : 20%;
          height : 15px;
          }
        }
      }
    }

  .form--non__row {
    &__check {
      display : inline-block;
      margin  : auto;
      }
    &__label {
      width      : 70%;
      text-align : center;
      &--hide {
        display : none;
        }
      }
    &__dash {
      width : 85%;
      }
    }

  .form__row--lg {
    text-align : left;
    &__label {
      width   : 35%;
      display : inline;
      &--1 {
        margin : 5px auto;
        }
      &--min {
        display : inline;
        width   : 20%;
        }
      }
    &__dash {
      display : inline;
      width   : 30%;
      }
    &__check {
      display : block;
      margin  : 0 auto;
      &--min {
        width  : 10%;
        height : 15px;
        }
      }
    }

  .footer {

    &__txt {
      width : 65%;
      left  : 2%;
      }
    }
  }

@media (max-width : 800px) {
  .page__link {
    font-size : 25px;
    }

  .page__list__item {
    line-height : 30px;
    font-size   : 18px;
    }

  .page__list__item__icon {
    width : 25px;
    }
  }

@media (max-width : 768px) {
  .header {
    margin  : auto;
    display : block;
    width   : 95%;
    height  : 150px;
    &__logo {
      width : 65%;
      }
    &__form {
      width : 26%;
      }
    }

  .article {
    &__txt {
      width : 100%;
      }
    &__contact {
      width          : 100%;
      padding-top    : 40px;
      padding-bottom : 40px;
      }
    }

  .form__row--lg {
    &__check {
      display : block;
      margin  : 0 auto;
      &--min {
        width  : 6%;
        height : 15px;
        }
      }
    }
  }

@media (max-width : 720px) {
  .page__title {
    font-size : 30px;
    }

  .page__link {
    font-size : 22px;
    }

  .page__list__item {
    line-height : 30px;
    font-size   : 16px;
    }

  }

@media (max-width : 640px) {

  .page__list__item {
    line-height : 25px;
    }

  .page__list__item__icon {
    width : 20px;
    top   : 5px;
    }

  .page__list__item__icon--cell {
    top : 15px;
    }

  .form__row__title--min {
    width : 32%;
    }

  .form__row--lg {
    &__dash {
      width : 15%;
      }
    &__check {
      display : inline;
      margin  : 0 auto;
      &--min {
        width  : 6%;
        height : 15px;
        }
      }
    }

  }

@media (max-width : 490px) {

  .page__link {
    font-size : 20px;
    }

  .page__list__item {
    font-size : 14px;
    }

  .page__list__item__icon {
    width : 18px;
    top   : 5px;
    }

  .page__list__item__icon--cell {
    top : 15px;
    }

  .header__form {
    width     : 30%;
    font-size : 15px;
    }

  .form {
    &__row {
      width          : 47%;
      height         : 200px;
      display        : inline-block;
      vertical-align : top;
      text-align     : center;
      margin         : 3px 1.2%;

      &__label--1 {
        display    : block;
        width      : 100%;
        margin     : 7px auto;
        text-align : center;
        }
      }
    }

  .form--non__row {
    &__check {
      display : inline-block;
      margin  : auto;
      }
    &__label {
      width      : 70%;
      text-align : center;
      &--hide {
        display : none;
        }
      }
    &__dash {
      width : 85%;
      }
    }

  .form__row--lg {
    text-align : left;
    &__label--1 {
      margin : 5px auto;
      }
    &__dash {
      display : inline;
      width   : 35%;
      }
    &__check {
      display : inline;
      margin  : 0 auto;
      &--min {
        width  : 6%;
        height : 15px;
        }
      }
    }
  }

@media (max-width : 480px) {

  .form:not(form--last) {
    &__row__label--1 {
      display     : block;
      width       : 97%;
      text-align  : center;
      font-weight : bold;
      }

    &__txt {
      font-size : 11px;
      }
    &__row {
      line-height : 28px;
      &__check {
        width  : 35px;
        height : 27px;
        }
      &__dash {
        &--lg {
          width : 47%;
          }
        &--md {
          width : 14%;
          }
        &--sm {
          width : 4%;
          }
        &--xs {
          width : 2%;
          }
        }

      &__label {
        width : 15%;
        &--min {
          width     : 7%;
          font-size : 9px;
          }
        &--first {
          margin-right : 40px;
          }
        }
      &__title--min {
        width      : 96%;
        display    : block;
        text-align : center;
        }
      }
    }
  }

@media (max-width : 430px) {
  .page__title {
    font-size : 25px;
    }

  .page__link {
    font-size : 20px;
    }

  .page__list__item {
    line-height : 20px;
    }

  .page__list__item__icon {
    width : 16px;
    }

  }

@media (max-width : 320px) {
  .header {
    height : 90px;
    &__form {
      font-size : 9px;
      }
    }

  .article__txt {
    font-size : 20px;
    }

  .form {
    &__title {
      display : inline;
      }
    &__row {
      width   : 95%;
      height  : 200px;
      display : block;
      margin  : 0 auto;
      &__title--min {
        width : 70%;
        }
      }
    }

  .footer__txt {
    width   : 90%;
    display : block;
    }
  }

@media print {
  .forPrint {
    display : inline;
    }

  .g-recaptcha,
  .errors {
    display : none !important;
    }

  .footer__sign {
    display : block;
    }
  }