@media all and (max-width: 1260px) {
    .page__title{
        font-size: 60px;
    }
    .page__list__link{
        font-size: 45px;
        margin:  0 0 70px;

    }
    .page__list__items__item{
        font-size: 28px;
        line-height: 45px;
    }
}
@media all and (max-width: 1100px) {
    .page__title{
        font-size: 50px;
        right: 30px;
    }
    .page__list{
        right: 30px;
    }
    .page__list__link{
        font-size: 40px;
    }
    .page__list__items__item{
        font-size: 25px;
        line-height: 45px;
    }
}
@media all and (max-width: 1100px) {
    .page__title{
        font-size: 50px;
    }
    .page__list__link{
        font-size: 40px;
        margin:  0 0 60px;

    }
    .page__list__items__item{
        font-size: 22px;
        line-height: 35px;
    }
    .page__list__items__item__icon--cell{
        top: 25px;
    }
    .page__list__link{
        margin:  80px 0 0;
    }
}

@media all and (max-width: 900px) {
    .page__title{
        font-size: 40px;
        text-align: left;
        left: 20px;
    }
    .page__list{
        right: 20px;
    }

    .page__list__link{
        font-size: 30px;
        margin:   0 0 150px;

    }

    .page__list__items__item{
        font-size: 20px;
        line-height: 35px;
    }
    .page__img--car{
        width: 40%;
        height: auto;
        display: inline-block;
        position: absolute;
        bottom: 0;
        margin: 0 0 0 20px ;
    }

    .page__list__items__item__icon{
        width: 30px;
    }
}

@media all and (max-width: 800px) {
    .page__list__link{
        font-size: 25px;
        margin:   0 0 100px;
    }

    .page__list__items__item{
        line-height: 30px;
        font-size: 18px;
    }

    .page__list__items__item__icon{
        width: 25px;
    }
}

@media all and (max-width: 720px) {
    .page__title{
        font-size: 30px;
        left: 15px;
    }

    .page__list__link{
        font-size: 22px;
        margin:   0 0 80px;
    }

    .page__list__items__item{
        line-height: 30px;
        font-size: 16px;
    }

}
@media all and (max-width: 640px) {

    .page__list__link{
        margin:   0 0 50px;
    }

    .page__list__items__item{
        line-height: 25px;
    }

    .page__list__items__item__icon{
        width: 20px;
        top: 5px;
    }
    .page__list__items__item__icon--cell{
        top: 15px;
    }
}
@media all and (max-width: 490px) {

    .page__list__link{
        font-size: 20px;
        margin:   0 0 30px;
    }

    .page__list__items__item{
        font-size: 14px;
    }

    .page__list__items__item__icon{
        width: 18px;
        top: 5px;
    }
    .page__list__items__item__icon--cell{
        top: 15px;
    }
}
@media all and (max-width: 430px) {
    .page__title{
        font-size: 25px;
        left: 15px;
        top: 20px;
    }

    .page__list__link{
        font-size: 20px;
        margin:   0 0 10px;
        right: 10px;
    }
    .page__list{
        right: 10px;
        bottom: 10px;
    }


    .page__list__items__item{
        line-height: 20px;
    }

    .page__list__items__item__icon{
        width: 16px;
    }

}