@import "reset.css";

.page {
  display: block;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  background-image: url(../img/aliq.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;

  &__img--car {
    width: 50%;
    float: left;
    margin: 40px 0 0 30px;
    height: auto;
    display: inline-block;
  }
  &__title {
    top: 0;
    font-size: 65px;
    color: #3a3879;
    letter-spacing: 1px;
    text-align: right;
    right: 4%;
    height: auto;
    position: absolute;
    margin: 0;

  }
  &__link {
    position: absolute;
    font-size: 50px;
    font-family: Arial sans-serif;
    color: #7a1608;
    letter-spacing: 3px;
    text-align: right;
    right: 4%;
    height: auto;    text-decoration: none;
    top: 40%;
    font-weight: 600;
  }

  &__list {
    width: 45%;
    position: absolute;
    height: auto;
    bottom: 0;
    float: right;
    right: 4%;
    display: inline-block;

    &__item {
      text-align: right;
      font-size: 32px;
      line-height: 55px;
      color: #fff;
      display: block;
      &__icon {
        width: 40px;
        height: auto;
        position: relative;
        top: 10px;
        right: 20px;
        &--cell {
          top: 35px;
        }
      }
      &__tel,
      &__email {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
@media all and (max-width: 1260px) {
  .page__title{
    font-size: 60px;
  }
  .page__link{
    font-size: 45px;
  }
  .page__list__item{
    font-size: 28px;
    line-height: 45px;
  }
}
@media all and (max-width: 1100px) {
  .page__title{
    font-size: 50px;
    right: 30px;
  }
   .page__link{
    font-size: 40px;
  }
  .page__list__item{
    font-size: 25px;
    line-height: 45px;
  }
}
@media all and (max-width: 1100px) {
  .page__title{
    font-size: 50px;
  }
  .page__link{
    font-size: 40px;
  }
  .page__list__item{
    font-size: 22px;
    line-height: 35px;
  }
  .page__list__item__icon--cell{
    top: 25px;
  }
}

@media all and (max-width: 900px) {
  .page__title{
    font-size: 40px;
    text-align: left;
    left: 2%;
  }

  .page__link{
    font-size: 30px;
    top: 25%;
  }

  .page__list__item{
    font-size: 20px;
    line-height: 35px;
  }
  .page__img--car{
    width: 40%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 2%;
    margin: 0;
  }

  .page__list__item__icon{
    width: 30px;
  }
}

@media all and (max-width: 800px) {
  .page__link{
    font-size: 25px;
  }

  .page__list__item{
    line-height: 30px;
    font-size: 18px;
  }

  .page__list__item__icon{
    width: 25px;
  }
}

@media all and (max-width: 720px) {
  .page__title{
    font-size: 30px;
  }

  .page__link{
    font-size: 22px;
  }

  .page__list__item{
    line-height: 30px;
    font-size: 16px;
  }

}
@media all and (max-width: 640px) {

    .page__list__item{
    line-height: 25px;
  }

  .page__list__item__icon{
    width: 20px;
    top: 5px;
  }
  .page__list__item__icon--cell{
    top: 15px;
  }
}
@media all and (max-width: 490px) {

  .page__link{
    font-size: 20px;
  }

  .page__list__item{
    font-size: 14px;
  }

  .page__list__item__icon{
    width: 18px;
    top: 5px;
  }
  .page__list__item__icon--cell{
    top: 15px;
  }
}
@media all and (max-width: 430px) {
  .page__title{
    font-size: 25px;
  }

  .page__link{
    font-size: 20px;
  }

  .page__list__item{
    line-height: 20px;
  }

  .page__list__item__icon{
    width: 16px;
  }

}