@import "reset.css";
.page {
  display: block;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  background-image: url(../img/aliq.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.page__img--car {
  width: 50%;
  float: left;
  margin: 40px 0 0 30px ;
  height: auto;
  display: inline-block;
}
.page__list {
  width: 45%;
  position: relative;
  float: right;
  right: 60px;
  display: inline-block;
}
.page__list__title {
  position: relative;
  top: 40px;
  font-size: 65px;
  color: #3a3879;
  letter-spacing: 1px;
  text-align: right;
  display: block;
}
.page__list__link {
  position: relative;
  margin: 100px 0;
  font-size: 50px;
  font-family: Arial sans-serif;
  color: #7a1608;
  letter-spacing: 3px;
  text-align: right;
  text-decoration: none;
  display: block;
  font-weight: 600;
}
.page__list__items__item {
  text-align: right;
  font-size: 32px;
  line-height: 55px;
  color: #fff;
  display: block;
}
.page__list__items__item__icon {
  width: 40px;
  height: auto;
  display: inline-block;
  position: relative;
  top: 10px;
  right: 20px;
}
.page__list__items__item__tel,
.page__list__items__item__email {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
